include/mamba/core/version.hpp
.DS_Store
.cache

*build*
__cache__/
.ipynb_checkpoints/
*.cppimporthash
.rendered*
installed.json
*.so
__pycache__
.vscode
.idea
.ipynb_checkpoints
build/
/build-*/
tmp/
mamba.egg-info/
*.orig

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
