version_info = ("{{ version_major }}", "{{ version_minor }}", "{{ version_patch }}")
version_prerelease = "{{ version_prerelease_name }}"
__version__ = ".".join(map(str, version_info))
if version_prerelease != "":
    __version__ = f"{__version__}.{version_prerelease}"
