channels:
  - conda-forge
dependencies:
  - python >=3.12
  # libmamba build dependencies
  - cxx-compiler
  # sysroot_linux-64==2.17 has to be used because all packages of conda-forge are built with it for now.
  # See: https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/7c988617ecdf11066c3e2655349e6c170f8ac426/recipe/conda_build_config.yaml#L20
  - sel(linux): sysroot_linux-64==2.17
  - cmake >=3.16
  - pkg-config # Used by some CMake dependencies
  - ninja
  # libmamba dependencies
  - cpp-expected
  - nlohmann_json
  - simdjson-static >=3.3.0
  - spdlog
  - fmt >=11.1.0
  - libsolv-static >=0.7.24
  - yaml-cpp-static >=0.8.0
  - reproc-static >=14.2.4.post0
  - reproc-cpp-static >=14.2.4.post0
  - libcurl >=8.4.0
  - libcurl-static >=8.4.0
  - xz-static
  - libssh2-static
  # As of libarchive 3.8, builds of libarchive for different licenses
  # are available. We use the LGPL version here.
  - libarchive-minimal-static>=3.8 lgpl_*
  - krb5-static
  - openssl
  - libopenssl-static
  - zstd-static
  - zlib
  - libnghttp2-static
  - lz4-c-static
  # libmamba test dependencies
  - catch2
  # micromamba dependencies
  - cli11 >=2.2,<3
