name: Homebrew and Linuxbrew toolchains

on:
  workflow_call:

jobs:
  build_linuxbrew:
    name: Build on linuxbrew
    runs-on: ubuntu-latest
    container:
      image: homebrew/brew:latest
      options: --user 0

    steps:
      - name: Disk Space Before Clean Up
        run: |
          df -h
      - name: Free Disk Space (Container)
        run: |
          rm -rf /mnt/usr/local/lib/android
          rm -rf /mnt/usr/share/dotnet
          rm -rf /mnt/usr/local/share/boost
          rm -rf /mnt/opt/ghc
          rm -rf /mnt/opt/hostedtoolcache/CodeQL
          rm -rf /mnt/usr/local/lib/node_modules
      - name: Disk Space After Clean Up
        run: |
          df -h
      # v1 required due to permissions error
      - name: Checkout mamba repository
        uses: actions/checkout@v6

      - name: Correct the creation permissions
        run: sudo chown -R linuxbrew .

      - name: Install host and build dependencies
        run: brew install fmt libarchive libsolv lz4 openssl@3 reproc simdjson xz yaml-cpp zstd cmake cli11 nlohmann-json spdlog tl-expected curl pkgconfig python bzip2 krb5 zlib

      - name: Configure to build mamba
        run: cmake -S. -Bbuild -DBUILD_LIBMAMBA=ON -DBUILD_MAMBA=ON -DBUILD_LIBMAMBA_SPDLOG=ON -DBUILD_SHARED=ON -DBUILD_STATIC=OFF

      - name: Build mamba
        run: cmake --build build -j4

  build_homebrew:
    name: Build on homebrew
    runs-on: macos-15

    steps:
      - name: Checkout mamba repository
        uses: actions/checkout@v6

      # Note: cmake already installed from a local Github tap
      # Attempting to install it from homebrew/core creates a conflict without more handling
      - name: Install host and build dependencies
        run: >
          brew install --overwrite
          fmt libarchive libsolv lz4 openssl@3 reproc simdjson xz yaml-cpp zstd
          cli11 nlohmann-json spdlog tl-expected pkgconfig python

      - name: Configure to build mamba
        run: >
          cmake -S. -Bbuild -DBUILD_LIBMAMBA=ON -DBUILD_MAMBA=ON -DBUILD_LIBMAMBA_SPDLOG=ON -DBUILD_SHARED=ON -DBUILD_STATIC=OFF
          -DLibArchive_ROOT=$(brew --prefix libarchive)

      - name: Build mamba
        run: cmake --build build -j4
