name: Micromamba Static Build

on:
  push:
    branches:
      - main
      - feat/*
  pull_request:
    branches:
      - main
      - feat/*
    paths-ignore:
      - "docs/**"
      - "mamba/**"
      - "libmambapy/**"
      - "**.md"
  merge_group:
    types: [checks_requested]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  micromamba-static-unix:
    name: "${{ matrix.platform }}-${{ matrix.arch }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, platform: linux, arch: "64" }
          - { os: ubuntu-latest, platform: linux, arch: aarch64 }
          - { os: ubuntu-latest, platform: linux, arch: ppc64le }
          - { os: macos-latest, platform: osx, arch: "64" }
          - { os: macos-latest, platform: osx, arch: arm64 }
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    steps:
      - name: Disk Space Before Clean Up
        if: matrix.platform == 'linux'
        run: |
          df -h
      - name: Free Disk Space (Base Runner)
        if: matrix.platform == 'linux' && matrix.arch == '64'
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          large-packages: false
          docker-images: false
      - name: Free Disk Space (Container)
        if: matrix.platform == 'linux' && matrix.arch != '64'
        run: |
          rm -rf /mnt/usr/local/lib/android
          rm -rf /mnt/usr/share/dotnet
          rm -rf /mnt/usr/local/share/boost
          rm -rf /mnt/opt/ghc
          rm -rf /mnt/opt/hostedtoolcache/CodeQL
          rm -rf /mnt/usr/local/lib/node_modules
      - name: Disk Space After Clean Up
        if: matrix.platform == 'linux'
        run: |
          df -h
      - name: Checkout mamba repository
        uses: actions/checkout@v6
      - name: Create build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ./dev/environment-micromamba-static.yml
          environment-name: build_env
          cache-environment: true
      - uses: hendrikmuhs/ccache-action@main
        with:
          variant: sccache
          key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.arch }}
          restore-keys: |
            ccache-micromamba-static-${{ matrix.os }}-${{ matrix.arch }}
      - name: Build micromamba (Unix native)
        if: ${{ !(matrix.platform == 'linux' && matrix.arch != '64') }}
        run: |
          cmake -B build/ -G Ninja \
            -D CMAKE_BUILD_TYPE=Release \
            -D CMAKE_CXX_COMPILER_LAUNCHER=sccache \
            -D CMAKE_C_COMPILER_LAUNCHER=sccache \
            -D BUILD_STATIC=ON \
            -D BUILD_MICROMAMBA=ON \
            -D BUILD_LIBMAMBA=ON \
            -D BUILD_LIBMAMBAPY=OFF \
            -D BUILD_LIBMAMBA_SPDLOG=ON \
            -D ENABLE_MAMBA_ROOT_PREFIX_FALLBACK=OFF
          cmake --build build/ --parallel
      - name: Build micromamba (Linux emulated)
        if: ${{ matrix.platform == 'linux' && matrix.arch != '64' }}
        uses: uraimo/run-on-arch-action@v3
        with:
          arch: ${{ matrix.arch }}
          distro: ubuntu_latest
          dockerRunArgs: -v /var/run/docker.sock:/var/run/docker.sock
          install: |
            apt-get update -y
            apt-get install -y python3 docker.io curl bzip2
          run: |
            set -euo pipefail
            # Install micromamba
            curl -Ls https://micro.mamba.pm/api/micromamba/linux-64/latest | tar -xvj bin/micromamba
            export MAMBA_ROOT_PREFIX="${HOME}/micromamba"
            ./bin/micromamba shell init -s bash -p "${MAMBA_ROOT_PREFIX}"
            source "${MAMBA_ROOT_PREFIX}/etc/profile.d/micromamba.sh"

            # Create environment
            micromamba create -n build_env -f dev/environment-micromamba-static.yml -y
            micromamba activate build_env

            # Build
            cmake -B build/ -G Ninja \
              -D CMAKE_BUILD_TYPE=Release \
              -D BUILD_STATIC=ON \
              -D BUILD_MICROMAMBA=ON \
              -D BUILD_LIBMAMBA=ON \
              -D BUILD_LIBMAMBAPY=OFF \
              -D BUILD_LIBMAMBA_SPDLOG=ON \
              -D ENABLE_MAMBA_ROOT_PREFIX_FALLBACK=OFF
            cmake --build build/ --parallel

            # Test basic commands
            mkdir -p test_prefix
            ./build/micromamba/micromamba --version
            ./build/micromamba/micromamba --help
            ./build/micromamba/micromamba env create -y -n testenv -r ./test_prefix "python<3.13"
            ./build/micromamba/micromamba list -n testenv -r ./test_prefix --log-level 1
      - name: Show build cache statistics
        if: ${{ !(matrix.platform == 'linux' && matrix.arch != '64') }}
        run: sccache --show-stats
      - name: Test basic commands
        if: ${{ matrix.arch != 'aarch64' && matrix.arch != 'ppc64le' }}
        run: |
          mkdir -p test_prefix
          ./build/micromamba/micromamba --version
          ./build/micromamba/micromamba --help
          ./build/micromamba/micromamba env create -y -n testenv -r ./test_prefix "python<3.13"
          ./build/micromamba/micromamba list -n testenv -r ./test_prefix --log-level 1
      - name: Archive build artifact
        if: failure()
        run: |
          tar -czf ${{ github.workspace }}/micromamba-build-failed-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz build/
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: micromamba-build-failed-${{ matrix.platform }}-${{ matrix.arch }}
          path: ${{ github.workspace }}/micromamba-build-failed-${{ matrix.platform }}-${{ matrix.arch }}.tar.gz
          retention-days: 7
      - name: Upload micromamba
        uses: actions/upload-artifact@v6
        if: ${{ !(matrix.platform == 'linux' && matrix.arch != '64') }}
        with:
          name: micromamba-${{ matrix.platform }}-${{ matrix.arch }}
          path: build/micromamba/micromamba

  micromamba-static-win:
    name: "win-64"
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C call {0}
    steps:
      - name: Checkout mamba repository
        uses: actions/checkout@v6
      - name: Cache vcpkg packages
        uses: actions/cache@v5
        with:
          # The installed packages are in %VCPKG_INSTALLATION_ROOT%\installed\x64-windows-static
          # and the info which packages are installed is in %VCPKG_INSTALLATION_ROOT%\installed\vcpkg
          path: C:\Users\runneradmin\AppData\Local\vcpkg
          key: vcpkg-win-64-appdata
      - name: Install dependencies with vcpkg
        shell: cmd
        # remove libsolv overlay-ports once https://github.com/microsoft/vcpkg/pull/31275 is released
        run: |
          vcpkg install --triplet x64-windows-static-md
      - uses: hendrikmuhs/ccache-action@main
        with:
          variant: sccache
          key: sccache-${{ github.job }}-win-64
      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Create build environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ./dev/environment-micromamba-static.yml
          environment-name: build_env
          cache-environment: true
          init-shell: bash cmd.exe
      - name: Build micromamba
        run: |
          set CMAKE_PREFIX_PATH=.\vcpkg_installed\x64-windows-static-md;%CONDA_PREFIX%\Library
          cmake -B build/ -G Ninja ^
            -D CMAKE_CXX_COMPILER_LAUNCHER=sccache ^
            -D CMAKE_C_COMPILER_LAUNCHER=sccache ^
            -D CMAKE_MSVC_RUNTIME_LIBRARY="MultiThreadedDLL" ^
            -D CMAKE_BUILD_TYPE="Release" ^
            -D BUILD_STATIC=ON ^
            -D BUILD_MICROMAMBA=ON ^
            -D BUILD_LIBMAMBA=ON ^
            -D BUILD_LIBMAMBAPY=OFF ^
            -D BUILD_LIBMAMBA_SPDLOG=ON
          if %errorlevel% neq 0 exit /b %errorlevel%
          cmake --build build/ --parallel
          if %errorlevel% neq 0 exit /b %errorlevel%
          sccache --show-stats
          if %errorlevel% neq 0 exit /b %errorlevel%
          .\build\micromamba\micromamba.exe --version
          if %errorlevel% neq 0 exit /b %errorlevel%
          .\build\micromamba\micromamba.exe --help
          if %errorlevel% neq 0 exit /b %errorlevel%
      - name: Build cache statistics
        run: sccache --show-stats
      - name: Archive build artifact
        if: failure()
        run: tar -czf ${{ github.workspace }}/micromamba-build-failed-win-64.tar.gz ${{ github.workspace }}/build/
      - name: Test basic commands
        run: |
          mkdir test_prefix
          ${{ github.workspace }}/build/micromamba/micromamba.exe --version
          ${{ github.workspace }}/build/micromamba/micromamba.exe --help
          ${{ github.workspace }}/build/micromamba/micromamba.exe env create -y -n testenv -r ./test_prefix "python<3.13"
          ${{ github.workspace }}/build/micromamba/micromamba.exe list -n testenv -r ./test_prefix --log-level 1
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: micromamba-build-failed-win-64
          path: ${{ github.workspace }}/micromamba-build-failed-win-64.tar.gz
          retention-days: 7
      - uses: actions/upload-artifact@v6
        with:
          name: micromamba-win-64
          path: ${{ github.workspace }}/build/micromamba/micromamba.exe
