name: Mamba

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**.md"
  merge_group:
    types: [checks_requested]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unix_tests:
    name: Unix
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [release, debug]
      fail-fast: false
    uses: ./.github/workflows/unix_impl.yml
    with:
      os: ${{ matrix.os }}
      build_type: ${{ matrix.build_type }}

  win_tests:
    name: Windows
    strategy:
      matrix:
        os: [windows-2019]
        build_type: [release]
      fail-fast: true
    uses: ./.github/workflows/windows_impl.yml
    with:
      os: ${{ matrix.os }}
      build_type: ${{ matrix.build_type }}

  brew_tests:
    name: Homebrew and Linuxbrew toolchains
    uses: ./.github/workflows/brew.yml
