name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unix_tests:
    name: Unix tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [release, debug]
      fail-fast: false
    steps:
      - run: echo "Hello"
    runs-on: ubuntu-latest
    # uses: ./.github/workflows/unix_impl.yml
    # with:
    #   os: ${{ matrix.os }}
    #   build_type: ${{ matrix.build_type }}
  win_tests:
    name: Windows tests
    strategy:
      matrix:
        os: [windows-2019]
        build_type: [release]
      fail-fast: true
    uses: ./.github/workflows/windows_impl.yml
    with:
      os: ${{ matrix.os }}
      build_type: ${{ matrix.build_type }}
